@import "tailwindcss";

html,
body {
  background: #F4F7FA;
  color: #3F4752;
  -webkit-font-smoothing: antialiased;
}

/* Hide number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
